main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 64rem;
  margin: 2rem auto;
  padding: 1rem;
}

ul,
ol {
  margin-left: 2rem;
}

.title {
  align-self: flex-start;
}

.regular-text {
  text-align: justify;
  padding-bottom: 1rem;
}

.date {
  font-style: italic;
}

.notes {
    color: #520a1d;
    font-weight: bold;
}