main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 64rem;
  margin: 2rem auto;
  padding: 1rem;
}

.regular-text {
  text-align: justify;
  padding-bottom: 1rem;
}

.dessert-box-details {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.dessert-box-image img {
  padding: 1rem;
  background-color: #f4e1e1;
  border-radius: 6px 44px 6px 44px;

  width: 200px;
  height: 200px;
}

.gallery-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 0.5rem;
}

.gallery-items img {
  padding: 1rem;
  background-color: #f4e1e1;
  border-radius: 5px;

  width: 200px;
  height: 200px;
}
