header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f4e1e1;

  width: 100%;
  height: 6.5rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}

nav {
  display: flex;
  align-items: center;

  gap: 0.75rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 3rem;
  width: 100%;
}

.header-container img {
  width: 100px;
  height: 100px;
}

.header-container nav a {
  color: #d85273;
  text-decoration: none;
}

.nav-container {
  display: flex;

  gap: 1rem;
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4px;
  min-width: 2.3rem;
  height: 2.3rem;
  padding: 0 0.5rem;
  position: relative;

  background-color: #d85273;
  border-radius: 6px;
  border: none;

  font-size: 0.875rem;
  cursor: pointer;
}

.cart-button:hover {
  background-color: #a45065;
}

.cart-button i {
  color: #ffffff;
}

@media (max-width: 850px) {
  header {
    padding: 0 1rem;
  }
}
